@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900italic,900);

:root {
  font-size: var(--primaryFont);
  font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
  --color: #2a81fa;
  --time: 0.75s;
  --ease: ease-in-out;
  --background: #212121;
  --foreground: #303030;
  --primaryFont: 12px;
  --notesFont: 20px;
  --textColor: #ffffff;
  --inputTextColor: #000000;
  --inputBackgroundColor: #ffffff;
}

* {
  transition: all 0.3s ease;
}

body {
  background: var(--background);

  color: var(--textColor);
  margin: 0px;
  margin-bottom: 8px;
}

.bold {
  font-weight: 700;
}

.fourMarginTop {
  margin-top: 4px;
}

#pageContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: center;
  align-items: center;
  transition: border-color var(--time) var(--ease);
  border-top: 3px solid var(--color);
  padding: 8px;
  padding-bottom: 0px;
}

#infoContainer {
  width: 70vw;
  margin-bottom: 40px;
  position: relative;
}

textarea,
#infoContainer input {
  border: 1px solid rgba(0,0,0,.12);
  opacity: 0.8;
  box-sizing: border-box;
  outline: none;
  box-shadow: inset 0 1px 0 rgba(0,0,0,.045);
  transition: all .2s;
}

#infoContainer input {
  padding: 0 5px;
  border-radius: 6px;
  min-height: 20px;
  font-size: var(--primaryFont)
}

textarea:focus,
#infoContainer input:focus {
  border: 1px solid var(--color);
  opacity: 1;
}

#infoContainer input:disabled {
  opacity: 0.25;
}

.info {
  padding: 16px;
  border: 1px solid rgb(0,0,0,0.3);
  background-color: var(--foreground);
  box-shadow: 0 2px 0 rgb(0,0,0,0.25);
}

#ubiquitiRadio {
  margin-right: 19px;
}

#telradRadio {
  margin-left: 28px;
}

#mimosaRadio {
  margin-right: 14px;
}

#cambiumRadio {
  margin-right: 27px;
}

#taranaRadio {
  margin-right: 19px;
}

#radioButtons {
  padding: 8px 8px;
  border: 1px solid rgb(0,0,0,0.3);
  border-bottom: none;
  width: fit-content;
  background-color: var(--foreground);
}

#complaintContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#complaintContainer label {
  margin-right: 2px;
}

.radioInfo {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-around;
  display: none;
}

.radioInfo div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.25vh;
}

.radioInfo div label {
  margin-right: 2px;
}

.radioInfo .ap {
  grid-column-start: 1;
  grid-column-end: span 2;
  justify-content: center;
}

input[type="text"] {
  background: var(--inputBackgroundColor);
  color: var(--inputTextColor);
  width: 162px;
}

input[type="text"].shortInput {
  width: 82.4px;
  margin-right: 80px;
}

#notesContainer {
  height: 40vh;
  width: 70vw;
  display: flex;
  flex-direction: column;
}

textarea {
  height: 90%;
  width: 100%;
  font-family: sans-serif;
  font-size: var(--notesFont);
  color: var(--inputTextColor);
  background: var(--inputBackgroundColor);
  border: 2px solid #444444;
  border-radius: 5px;
  padding: 8px;
}

#checklistContainer {
  grid-area: 1 / 2 / span 3 / span 1;
  transition: border-color var(--time) var(--ease), box-shadow var(--time) var(--ease);
  border: 2px solid var(--color);
  border-radius: 8px;
  padding: 0 .4vw;
  box-shadow: 0 1px 5px var(--color);
  background-color: var(--foreground);
  height: fit-content;
  padding-bottom: 1em;
}

#checklist div {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
  padding: 1px;
  transition: border-color var(--time) var(--ease);
  border-bottom: 1px solid var(--color);
}

#checklistContainer .outageMode {
  border-bottom: none;
}

#buttons {
  width: 75vw;
  display: flex;
  justify-content: center;
  gap: 2px;
}

button {
  min-height: 21.3px;
  font-size: var(--primaryFont);
}

button:hover {
  background: #e8e8e8;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
}

button:active {
  transform: translateY(1px);
}

#resetDefaultContainer,
#resetConfirm,
#clipboardConfirm {
  display: none;
  background-color: var(--background);
  min-width: 200px;
  padding: 0 8px;
  position: absolute;
  top: calc(50vh - 25px);
  left: calc(45vw - 100px);
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 0 8px black;
  transition: border-color var(--time) var(--ease);
  border: 4px solid var(--color);
  text-align: center;
  padding: 2px 4px;
}

#resetDefaultContainer {
  flex-direction: column;
  z-index: 15;
  min-height: 72px;
  left: calc(50vw - 100px);
}

#resetConfirm {
  flex-direction: column;
  min-height: 72px;
}

#resetDefaultContainer div,
#resetConfirm div {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

#resetDefaultContainer div {
  padding: 8px;
}

#clipboardConfirm {
  cursor: pointer;
  min-height: 50px;
}

.selected {
  transition: border-color var(--time) var(--ease);
  border-color: var(--color);
}

#settingsButton {
  position: absolute;
  right: 16px;
  top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#settingsButton div {
  width: 24px;
  height: 24px;
}

#cog {
  transition: all 0.25s ease-in;
}

#settingsContainer {
  display: none;
  flex-direction: column;
  padding: 16px 0;
  background-color: var(--background);
  width: 400px;
  position: absolute;
  min-height: fit-content;
  top: 16px;
  left: calc(50vw - 200px);
  align-items: center;
  border-radius: 12px;
  box-shadow: 0 0 16px black;
  transition: border-color var(--time) var(--ease);
  border: 4px solid var(--color);
  z-index: 1000;
}

#settingsButtons {
  margin-top: 32px;
  padding-left: 8px;
  padding-right: 8px;
}

#settingsContainer div:last-child {
  padding-left: 8px;
  padding-right: 8px;
}

.line {
 border-bottom: 1px solid rgb(0,0,0,0.25);
 padding-left: 8px;
 padding-right: 8px;
 padding-bottom: 16px;
 margin-bottom: 16px;
 min-width: 80%;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#fontValue,
#notesFontValue {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

#onCallContainer svg {
  width: var(--primaryFont);
  height: var(--primaryFont);
  fill: var(--textColor);
  bottom: -2px;
  position: relative;
}

#onCallSVG {
  cursor: pointer;
}

.spin {
  animation: spin 1050ms linear forwards;  
}

.fadeOutAnimation {
  animation-name: fadeOut;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.fadeInAnimation {
  animation-name: fadeIn;
  animation-duration: 500ms;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

#inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

#maintenancePopupButtonContainer {
  position: absolute;
  top: 1px;
  right: 1px; 
  background-color: var(--foreground);
  padding: 8px 8px;
}

#maintenanceInfoPopup {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background-color: rgb(0,0,0,0.5);
  cursor: pointer;
}

#closeMaintenanceInfoPopup {
  position: fixed;  
  top: 16px;
  right: 16px;
  font-weight: 700;
}

#maintenanceInfoContainer {
  width: 80%;
  margin: 20px auto;
  background-color: #1e1e1e;
  border: 2px solid #444444;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
  cursor: auto;
}

.maintenanceBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #3a9ad9;
  border-radius: 5px;
  padding: 10px 15px;
  margin-bottom: 10px;
  background-color: #252525;
}

.maintenanceBlock div:nth-child(3) {
  flex-basis: 100%; 
}

.maintenanceBlock div:nth-child(4) {
  flex-basis: 100%;
}


.startContainer, .endContainer, .affectedSitesContainer, .scopeOfWorkContainer {
  margin: 10px;
  padding: 5px 10px;
  color: #ffffff;
  font-size: 14px;
  background-color: #333333;
  border-radius: 5px;
}

.startContainer {
  border-left: 4px solid #3a9ad9;
}

.endContainer {
  border-left: 4px solid #d93a3a;
}

.affectedSitesContainer,
.scopeOfWorkContainer {
  margin: 10px;
  padding: 10px;
  color: e0ffe6;
  font-size: 16px;
  background-color: #202c20;
  border-left: 4px solid #3ad96c; 
}

.maintenanceBlock.glow {
    animation: glowing 2.5s ease-in-out;
}

@keyframes glowing {
    0% { 
      position: relative; 
      z-index: 1000;
      box-shadow: 0 0 0px #3a9ad9; 
    }
    50% { 
      box-shadow: 0 0 100px #3a9ad9; 
      position: relative; 
      z-index: 1000;
    }
    100% { 
      box-shadow: 0 0 0px #3a9ad9; 
      position: relative; 
      z-index: 1000;
    }
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;} 
}

@keyframes spin {    
  0% { 
     transform: rotate(0deg);
     opacity: 1; 
  } 
  47% { 
     transform: rotate(360deg);
     opacity: 0; 
  } 
  53% { 
     transform: rotate(360deg);
     opacity: 0; 
  } 
  100% { 
     transform: rotate(720deg);
     opacity: 1; 
  } 
}

@media (max-width: 1280px) {
  #radioButtons {
    width: max;
    padding-right: 225px;
  }
}

@media (max-width: 800px) {
  input[list="speeds"] {
    width: 82.4px;
    margin-right: 80px;
  }

  #ubiquitiRadio {
    margin-right: 0px;
  }

  #telradRadio {
    margin-left: 0px;
  }

  #mimosaRadio {
    margin-right: 0px;
  } 

  #cambiumRadio {
    margin-right: 0px;
  }

  #taranaRadio {
    margin-right: 0px;
  }
}

@media (max-width: 750px) {
  #complaintContainer {
    margin-left: 48px;
  }
}

@media (max-width: 750px) {
  #complaintContainer {
    margin-left: 88px;
  }
}

@media (max-width: 650px) {
  #pageContainer {
    grid-template-columns: 1fr;
  }

  #infoContainer{
    width: auto;
    margin-bottom: 8px;
  }

  #checklistContainer {
    grid-area: 2 / 1 / auto / auto;
    width: -webkit-fill-available;
    justify-self: center;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 8px;
  }

  #checklist input {
    margin: 0 8px;
  }

  #notesContainer {
    width: auto;
  }

  #buttons {
    width: auto;
  }

  #onCallContainer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #onCallContainer span {
    margin-left: 4px;
  }

  #complaintContainer {
    margin-left: 36px;
  }
}

@media (max-width: 550px) {

  #complaintContainer {
    justify-content: space-between;
    margin-left: 0;
  }

  .radioInfo {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
  }

  .radioInfo .ap {
    grid-column-start: auto;
    grid-column-end: auto;
    justify-content: space-between;
  }


  input[type="text"],
  input[type="text"].shortInput {
    width: auto;
    margin-right: 0;
  }

}
